@import './utils/fonts';
@import './utils/variables';
@import './utils/utils';
@import './utils/mixins';
@import './utils/text';

@import './base';

@import './components/buttons';
@import './components/links';
@import './components/carousel-button';
@import './components/chef-card';
@import './components/format-card';
@import './components/input';


@import './layouts/header';
@import './layouts/section';
@import './layouts/hero-section';
@import './layouts/advantages-section';
@import './layouts/traditions-section';
@import './layouts/chefs-section';
@import './layouts/formats-section';
@import './layouts/contact-section';
@import './layouts/footer';
@import './layouts/modal';
@import './layouts/form-terms';





