:root {
    --color-primary-dark: #31261a;
    --color-primary-light: #FAF4EA;
    --color-brand-dark:  #465929;
    --color-brand-normal: #819B57;
    --color-brand-light: #cfcfcfbc;
    --color-secondary-dark: #A18268;
}