.modal-btn-open {
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.modal-btn-open:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}

.form-button {
    display: block;
    margin: 0 auto 24px;
}